<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/lobbyStyle.css') }}">
    <title>The Resistance</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icon.png') }}" 
    type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='assets/icon.png') }}"
    type="image/x-icon">  </head>

  
    <style>
      body {
        background-image: url('static/assets/skylinebackground.jpg');
        background-color: black;
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: 100% 100%;
      }
      </style>
      
  <body style="font-family: zeroHour">

    <div class="container-fluid" style="text-align: center;">
      <h1 onclick="copyCode()"></h1>
      <h2>copied!</h2>
    </div>

    
    <!-- 
    <ul id="users"></ul> -->

    <ul id="players"></ul>
    <!--<button id="add-item">Add item</button>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <div class="row" style="float: right; margin-right: 5%; margin-top: 30vh; font-family: zeroHour; text-align: center;">

      <div>
        <p style="color: white; margin-bottom: -15vh;" id='player_cap'>Lobby is Full</p>
        <button id="stgame" style="font-family: zeroHour;" onclick="clicked()">Start Game</button>
      </div>
    </div>



    
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

    <script src="{{ url_for('static', filename='js/lobbyScript.js') }}"></script>

    <script type="text/javascript">


      var startGame = document.getElementById('stgame')
      startGame.style.display = "none";
      //document.getElementById('stgame').innerHTML = "start";
      //document.getElementById('stgame').setAttribute("onClick", 'window.location.href = "/play"')

      function leaveGame(){
          socket.emit('my event', {
            status : 'leave',
            roomid : roomID,
            playerName : name
          })
          window.onbeforeunload = null;
          window.location.href = "/";
        }

        function clicked(){
          window.onbeforeunload = null;
          socket.emit('my event', {roomid:roomID,status:'letMeIn'})
          window.location.href = "/play"
        }


      var socket = io.connect(window.location.origin);
      var roomID = '{{ roomID }}';
      var name= '{{ name }}';
      $("h1").html("" + roomID);
      $("#users").append('<li>' + 'test' + '</li>');

      socket.on( 'connect', function() {
        socket.emit( 'my event', {
            status : 'lobby',
            roomid : roomID,
            playerName : name
        }) 
        //console.log({'status':'upside'})

      })
      

    socket.on( 'my response', function( msg ) {
        //var obj = JSON.parse('{ "name":"John", "age":30, "city":"New York"}');
        console.log( msg )




        if (msg.roomid == roomID){

          if(msg.status == 'updatingLobby'){
            $("#users").empty();
            addPlayers(msg.players)
            for (i = 0; i < msg.players.length; i++){
                if (msg.players[i] == msg.host){
                    $("#users").append('<li>' + msg.players[i] +'(host)</li>');
                }else{
                    $("#users").append('<li>' + msg.players[i] +'</li>');
                }
          }

          if (name == msg.host){
            if (msg.players.length == 2 || msg.players.length >=5){ //the 2 is only for testing purposes
              startGame.innerHTML = "Start Game";
              startGame.setAttribute("onClick", 'clicked()');
              startGame.style.display = "block";
          } else{
            startGame.style.display = "none";
          }
        } else{
          startGame.innerHTML = "Leave Game";
          startGame.setAttribute("onClick", 'leaveGame()');
          startGame.style.display = "block"
        }

        }

        if(msg.status == 'playCommand'){
          window.onbeforeunload = null;
          window.location.href = "/play"
        }

        if(msg.status == 'pleft'){
          removePlayer(msg.name);
        }

      }

        
      })

      window.onbeforeunload = function() {
            return "Do not leave";
        };



    </script>


    

</body>
</html>