<!doctype html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/playStyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>The Resistance</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icon.png') }}" 
    type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='assets/icon.png') }}"
    type="image/x-icon">  </head>


    <style>
        body {
          background-image: url('static/assets/skylinebackground.jpg');
          background-color: black;
          background-repeat: no-repeat;
          background-attachment: fixed; 
          background-size: 100% 100%;
        }
        </style>


<body style="font-family: zeroHour">


        <div class="container-fluid text-center">  



            <div class="overlay-tright" style="">
                <div class="container-fluid">
                    <div class="text-center alert-box success" >You are the team Leader!</div>
                </div>
            </div>


        <div class="row content">

        <div class="col-sm-2" style="height: fit-content;">
            <img src="{{ url_for('static', filename='assets/blue.png') }}" alt="resistance" id="role-card" style="width: 200px;height: 280px; margin-top: 28%;">

            <!-- 
            <div style="margin-top: 40%;">
            <img src="{{ url_for('static', filename='assets/fail.png') }}" class="mission-card" id="fail">
            <img src="{{ url_for('static', filename='assets/pass.png') }}" class="mission-card" id="pass" style="margin-top: 10px;">
            </div>
            -->

            <button style="margin-top: 20%; font-family: zeroHour;" id="fin-team" onclick="finTeam()" class="buttons">Finalize Team</button>
            
            <div id="vote-counter" style="color: white;">
                <p style="font-size: 90px; margin-bottom: 0px; margin-top: 0px;" id="vleft"><b>3</b><br></p>
                <p style="font-size: 30px;">votes left!</p>
            </div>

            


        </div>




        <div class="col-sm-8 text-center" style="padding-top: 9%;">
            
            <ul id="list" style="margin: auto;"></ul>

            <!-- 
            <button id="add-item">Add item</button>-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


        </div>


        <div class="col-sm-2 text-center" style="height: fit-content;">
            <button style="margin-top: 100%;" id="yay-vote" onclick="yayvote()">Yay!</button>
            <button style="margin-top: 100%;" id="nay-vote" onclick="nayvote()">Nay!</button>

            <div id="missions" style="margin-top: 5%; height: 100%;">
                <ul id="mss" style="height: 50vw">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

        </div>

            </div>
            
        </div>



        <div class="overlay-desc" style="background-color: gray; opacity: .8;" id="teamvotes">

                <img  alt='agree!' src="{{ url_for('static', filename='assets/tick.png') }}" style="margin: 20px;" id="yay-vote" class = 'votebutton' onclick="yayvote()">
                <img alt='disagree!' src="{{ url_for('static', filename='assets/cross.png') }}" style="margin: 20px;" id="nay-vote" class = 'votebutton' onclick="nayvote()"> 
         </div>


         <div class="overlay-desc" style="background-color: gray; opacity: .8;" id="missionvotes">
            
                <img src="{{ url_for('static', filename='assets/fail.png') }}" class="mission-card" id="fail" alt="FAIL!">
                <img src="{{ url_for('static', filename='assets/pass.png') }}" class="mission-card" id="pass" alt="PASS!">
        </div>

        <div class="overlay-desc" style="background-color: gray; opacity: .8;" id="revealmvotes">
            <button onclick="closeRMV()" style="background-color: rgba(255, 255, 255, 0); border: 4px solid #ffffff; border-radius: 30%; font-size: 6vh; color: white; font-weight: 500;">X</button>
        </div>

        
      </body>
      
      <script>
          var name = '{{ name }}';
          var roomID = '{{ roomID }}'; 
          var plist = JSON.parse('{{ jData | tojson | safe}}');
          console.log(plist)
            function getName(){return name}
            function getroomID(){return roomID}
            function getplist(){return plist.players}

      </script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
      <script src="{{ url_for('static', filename='js/playScript.js') }}"></script>



</html>