#list{
	background: none;
	height: 0;
    width: 30%;
    padding-bottom: 30%;
	border-radius: 50%;
    position: relative;
}

.list-item{
	list-style: none;
	background-color: aqua;
	height: 100px;
    width: 100px;
    max-width: 200px;
    /*padding-bottom: 5%;*/
	position: absolute;
	top: 50%;
    left: 50%;
    border-radius: 50%;
    transition-duration: 1s;
}

li{
    flex: 1;
}

li:hover{
    background-color: rgb(209, 243, 243);
    top: 48%;
	height: 100px;
    width: 100px;
    max-width: 200px;
}