#list{
	background: none;
	height: 500px;
	width: 500px;
	border-radius: 50%;
    position: relative;
}

.list-item{
	list-style: none;
	background-color: rgb(0, 53, 199);
	height: 100px;
	width: 100px;
	position: absolute;
	top: 50%;
    left: 50%;
    border-radius: 50%;
    box-shadow: black;
    transition-duration: 1s;
    color: rgb(206, 198, 198);
    font-size: 2vh;
    background: radial-gradient(100px 100px, rgb(0, 53, 199), #000);
}

.list-item{
    flex: 1;
}

.list-item:hover{
    background-color: rgb(75, 107, 196);
    top: 48%;
    left: 48%;
    height: 120px;
    width: 120px;
    box-shadow: 0 0 5px 3px gray;

}


#role-card{
    border-radius: 10%;
    padding-top: 10vm;
}

#role-card:hover{
    box-shadow: 0 0 4px 1px gray;
}

.alert-box {
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;  
}

.success {
    color: #ffffff;
    /*background-color: #db3bab;*/
    /*border-color: #ffffff;*/
    display: none;
}

.mission-card{
    border-radius: 10%;
    opacity: 1;
    margin: 1vw;
    transition-duration: 1s;
}

.mission-card:hover{
    background-color: gray;
    opacity: .5;
    margin-top: -1vh;
}



*{ /*copied from soverflow 4358620   //   Make everything unselectable*/
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .overlay-desc {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    #missions li{
        display: block;
        width: 8vw;
        height: 8vw;
        border: 1px solid rgb(255, 255, 255);
        margin: 10%;
        border-radius: 50%;
        font-size: 3vw;
        text-align: center;
        /*background-image: url('static/assets/blue.png');
        padding: 10%;
        /*background-color: rebeccapurple;*/
        color: rgb(206, 198, 198);    
        transition-duration: 1s;
        display: inline-block;
        
    }

    #missions li:hover{
        box-shadow: 0 0 5px 3px gray;
    }

    .buttons{
        background-color:#942ada00;
        border-radius:28px;
        border:2px solid #ffffff;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:20px;
        padding:16px 31px;
        text-decoration:none;
        text-shadow:0px 1px 0px #dab3f3;
        transition-duration: 1s;
    }

    .buttons:hover{
        box-shadow: 0 0 5px 3px rgb(148, 143, 143);
        font-weight: 750;
        margin-top: -2vh;
    }

    .buttons:active {
        position:relative;
        top:1px;
    }

    
    .votebutton{
        /*
        width: 200px;
        height: 200px;
        border-radius: 50%;*/
        border-radius: 50%;
    }

    /*
    #yay-vote{
        background-color: rgb(65, 209, 65);
    }
    #nay-vote{
        background-color: rgb(255, 61, 61);
    }


    .votebutton:hover{
        opacity: .5;
    }

    .votebutton:active{
        position: relative;
        top: 1px;
    }
*/
    li{
        transition-duration: 1s;
    }
    
html, body{
    height:100%;
}

body{
    /*opacity: .85;*/
}


@font-face {
    font-family: zeroHour;
    src: url("fonts/Exosphere.woff");
  }