<!doctype html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/playStyle.css') }}">

    <body>


        <div class="container-fluid text-center">   
        <div class="row content">

        <div class="col-sm-2" style="height: fit-content;">
            <img src="{{ url_for('static', filename='assets/blue.png') }}" alt="resistance" id="role-card" style="width: 200px;height: 280px; margin-top: 7%">
        </div>


        <div class="col-sm-8 text-center" style="padding-top: 8%;">
            <ul id="list" style="margin: auto;"></ul>
            <button id="add-item">Add item</button>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        </div>

            </div>
        </div>
      </body>
      
      <script>
          var name = '{{ name }}';
          var roomID = '{{ roomID }}'; 
          var plist = JSON.parse('{{ jData | tojson | safe}}');
          console.log(plist)
            function getName(){return name}
            function getroomID(){return roomID}
            function getplist(){return plist.players}

      </script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
      <script src="{{ url_for('static', filename='js/playScript.js') }}"></script>



</html>