#list{
	background: none;
	height: 500px;
	width: 500px;
	border-radius: 50%;
    position: relative;
}

.list-item{
	list-style: none;
	background-color: aqua;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 50%;
    left: 50%;
    border-radius: 50%;
    transition-duration: 1s;
}

li{
    flex: 1;
}

li:hover{
    background-color: rgb(209, 243, 243);
    top: 48%;
    left: 48%;
    height: 120px;
    width: 120px;
}