#list{
	background: none;
	height: 500px;
	width: 500px;
	border-radius: 50%;
    position: relative;
}

.list-item{
	list-style: none;
	background-color: aqua;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 50%;
    left: 50%;
    border-radius: 50%;
    transition-duration: 1s;
}

li{
    flex: 1;
}

li:hover{
    background-color: rgb(209, 243, 243);
    top: 48%;
    left: 48%;
    height: 120px;
    width: 120px;
}



.remove-item{
    background-color: aqua;
    display: none;
}

#role-card{
    border-radius: 10%;
}

#role-card:hover{
    box-shadow: 0 0 4px 1px gray;
}

.alert-box {
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;  
}

.success {
    color: #ffffff;
    background-color: #db3bab;
    border-color: #d6e9c6;
    display: none;
}

